#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 200px;
    margin: 10px;
    text-align: center;
}

#cart {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#cart th,
#cart td {
    padding: 10px;
    border: 1px solid #ddd;
}

#cart th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: left;
}


.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ff9800;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}
